<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="AutoMapper" />
      <package pattern="AutoMapper.Extensions.Microsoft.DependencyInjection" />
      <package pattern="Microsoft.IdentityModel.JsonWebTokens" />
      <package pattern="Microsoft.IdentityModel.Tokens" />
      <package pattern="Microsoft.IdentityModel.Logging" />
      <package pattern="Microsoft.IdentityModel.Abstractions" />


      <!-- Você pode adicionar outros pacotes aqui também -->
    </packageSource>
  </packageSourceMapping>
</configuration>
