<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
    <!-- Você pode adicionar outros pacotes aqui também -->
      <package pattern="Microsoft.AspNetCore.Authentication.JwtBearer" />
      <package pattern="AutoMapper" />
      <package pattern="AutoMapper.Extensions.Microsoft.DependencyInjection" />
      <package pattern="Microsoft.IdentityModel.JsonWebTokens" />
      <package pattern="Microsoft.IdentityModel.Tokens" />
      <package pattern="Microsoft.IdentityModel.Logging" />
      <package pattern="Microsoft.IdentityModel.Abstractions" />
      <package pattern="Microsoft.Extensions.DependencyInjection.Abstractions" />
      <package pattern="Microsoft.Extensions.Logging.Abstractions" />
      <package pattern="System.IdentityModel.Tokens.Jwt" />
      <package pattern="Microsoft.IdentityModel.Protocols" />
      <package pattern="Microsoft.IdentityModel.Protocols.OpenIdConnect" />
      <package pattern="Castle.Core" />
      <package pattern="coverlet.collector" />
      <package pattern="Microsoft.NETCore.Platforms" />
      <package pattern="Microsoft.NETCore.Targets" />
      <package pattern="Microsoft.Win32.Primitives" />
      <package pattern="Moq" />
      <package pattern="NETStandard.Library" />
      <package pattern="NuGet.Frameworks" />
      <package pattern="runtime.debian.8-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.fedora.23-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.fedora.24-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.native.System" />
      <package pattern="runtime.native.System.IO.Compression" />
      <package pattern="runtime.native.System.Net.Http" />
      <package pattern="runtime.native.System.Security.Cryptography.Apple" />
      <package pattern="runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.opensuse.13.2-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.opensuse.42.1-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.osx.10.10-x64.runtime.native.System.Security.Cryptography.Apple" />
      <package pattern="runtime.osx.10.10-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.rhel.7-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.ubuntu.14.04-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.ubuntu.16.04-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.ubuntu.16.10-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="System.AppContext" />
      <package pattern="System.Buffers" />
      <package pattern="System.Collections" />
      <package pattern="System.Collections.Concurrent" />
      <package pattern="System.Console" />
      <package pattern="System.Diagnostics.Debug" />
      <package pattern="System.Diagnostics.DiagnosticSource" />
      <package pattern="System.Diagnostics.EventLog" />
      <package pattern="System.Diagnostics.Tools" />
      <package pattern="System.Diagnostics.Tracing" />
      <package pattern="System.Globalization" />
      <package pattern="System.Globalization.Calendars" />
      <package pattern="System.Globalization.Extensions" />
      <package pattern="System.IO" />
      <package pattern="System.IO.Compression" />
      <package pattern="System.IO.Compression.ZipFile" />
      <package pattern="System.IO.FileSystem" />
      <package pattern="System.IO.FileSystem.Primitives" />
      <package pattern="System.Linq" />
      <package pattern="System.Linq.Expressions" />
      <package pattern="System.Net.Http" />
      <package pattern="System.Net.Primitives" />
      <package pattern="System.Net.Sockets" />
      <package pattern="System.ObjectModel" />
      <package pattern="System.Reflection" />
      <package pattern="System.Reflection.Emit" />
      <package pattern="System.Reflection.Emit.ILGeneration" />
      <package pattern="System.Reflection.Emit.Lightweight" />
      <package pattern="System.Reflection.Extensions" />
      <package pattern="System.Reflection.Primitives" />
      <package pattern="System.Reflection.TypeExtensions" />
      <package pattern="System.Resources.ResourceManager" />
      <package pattern="System.Runtime" />
      <package pattern="System.Runtime.Extensions" />
      <package pattern="System.Runtime.Handles" />
      <package pattern="System.Runtime.InteropServices" />
      <package pattern="System.Runtime.InteropServices.RuntimeInformation" />
      <package pattern="System.Runtime.Numerics" />
      <package pattern="System.Security.Cryptography.Algorithms" />
      <package pattern="System.Security.Cryptography.Cng" />
      <package pattern="System.Security.Cryptography.Csp" />
      <package pattern="System.Security.Cryptography.Encoding" />
      <package pattern="System.Security.Cryptography.OpenSsl" />
      <package pattern="System.Security.Cryptography.Primitives" />
      <package pattern="System.Security.Cryptography.X509Certificates" />
      <package pattern="System.Text.Encoding" />
      <package pattern="System.Text.Encoding.Extensions" />
      <package pattern="System.Text.RegularExpressions" />
      <package pattern="System.Threading" />
      <package pattern="System.Threading.Tasks" />
      <package pattern="System.Threading.Tasks.Extensions" />
      <package pattern="System.Threading.Timer" />
      <package pattern="System.Xml.ReaderWriter" />
      <package pattern="System.Xml.XDocument" />
      <package pattern="xunit" />
      <package pattern="xunit.abstractions" />
      <package pattern="xunit.analyzers" />
      <package pattern="xunit.assert" />
      <package pattern="xunit.core" />
      <package pattern="xunit.extensibility.core" />
      <package pattern="xunit.extensibility.execution" />
      <package pattern="xunit.runner.visualstudio" />
    </packageSource>
  </packageSourceMapping>
</configuration>
